* {
    box-sizing: border-box;
    /* max-width: 100%; */
    /* padding: 0;
    margin: 0; */
}

body {
    padding: 2.0rem;
}

.greatidea, nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-align: center;
    padding: 1.0rem;
    text-decoration: none;
    color: grey;
}

nav a:hover {
    color: greenyellow;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4.0rem 0;
}

.h1-head {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    font-size: 150%;
}

/* First section */

.whole {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.half {
    width: 50%;
    text-align: left;
}

.button {
    text-decoration: none;
    color: #015AAB;
    border: 1px solid #015AAB;
    padding: 0.5rem 4.0rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    /* margin-bottom: 30px; */
}

.button:hover {
    color: white;
    background-color: #015AAB;
    transition: 0.6s;
    border: 2px solid white;
}

/*  image in the middle */
.banner-img {
    display: flex;
    justify-content: center;
    padding: 1.0rem;
}

/* second section */

.whole-two {
    display: flex;
    justify-content: space-between;
}

.third {
    width: 30%;
}

    
/* footer */

.contact {
    display: flex;
    flex-direction: column;
    line-height: 2.0rem;
}

.copyright {
    text-align: center;
}

/* media queries */

@media (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .logo2 {
        display: none;
    }
    .h1-head {
        font-size: 200%;
    }
   .banner-img {
    align-items: center;
   }
   .half {
    padding: 2.0rem;
   }
   .greatidea {
       width: 20%;
       padding: 0.5rem;
   }
   .links {
       width: 85%;
   }
}

@media (max-width: 500px) {
    body {
    padding: 2.0rem;
    }
    .whole-two {
        flex-direction: column;
    }
    .third {
        width: 95%;
    }
    .banner-img {
        align-items: center;
        width: 2.0rem;
    }
    .links a {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }
    .whole {
        flex-direction: column;
    }
    .half {
        width: 95%;
    }
}