.container {
    margin: 2% 3%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

nav a:nth-child(6) {
    margin-right: 3.5%;
}

.whole {
    margin: 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.halves {
    font-size: 4.5rem;
    text-align: center;
    margin-left: 10%;
}

.button {
    width: 1.5rem;
    height: 3.5rem;
    width: 70%;
    border-radius: 0.2rem;
    border: 0.1rem solid black;
    font-size: 0.9rem;
    font-weight: 600;
    position: relative;
    bottom: 1.5rem; 
}

.button:hover {
    background-color: rgba(116, 116, 211, 0.699);
    color: white;
    transition: 0.8s;
}

.description {
    display: flex;
}

.middle-img {
    width: 100%;
    margin: 3% 0;
}

.descrpition2 {
    display: flex;
    justify-content: space-between;
}

.third {
    width: 30%;
}

h6 {
    text-align: center;
    padding: 5%;
}

@media screen and (max-width: 800px) {
    .image {
        display: none;
    }
    header {
        flex-direction: column-reverse;
    }
    nav {
        width: 100%;
        margin-top: 3%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin: 1% 8%;
    }
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav a:nth-child(6) {
        margin-right: 0;
    }
    header a {
        width: 100%;
        border-bottom: 1px solid gray;
        text-align: center;
        padding: 3%;
    }
    nav {
        margin-top: 0;
    }
    .halves:nth-child(1) {
        margin-right: 1.0rem;
    }
    .description {
        flex-direction: column;
    }
    .descrpition2 {
        flex-direction: column;
    }
    .features {
        margin-bottom: 3%;
        margin-right: 0%;
    }
    .third {
        width: 100%;
        margin-top: 1.0rem;
    }
}

